

      <!-- more information -->
      <div class="modal fade" id="exampleModal-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{item.description}}</p>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>



      <!-- Purchase -->
      <div class="modal fade" id="purchasedproduct-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <p>You are going to buy {{item.name}} for Rs.{{item.price}}</p>
    <form method="post">
      {{purchase_form.hidden_tag()}}
      <h4 class="text-center">
        Are you sure want to purchase the item !!!!!
      </h4><br>
      <h6 class="text-center">
      By clicking purchase button you are conforming to purchase the item

      </h6>
      <br>
      <input id="purchase_item" name="purchase_item" type="hidden" value="{{item.name}}">
      {{purchase_form.submit(class="btn btn-success")}}

    </form>
            </div>

          </div>
        </div>
      </div>